/* trailer */
.trailer_box{
    box-shadow: 5px 5px 35px 5px rgb(12, 12, 12);
    width: 60%;
    margin: 70px auto;
    opacity: 0.85;
    padding: 60px 5px 20px 5px;
}

.trailer {
    width: 75%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.trailer_information {
    margin-top: 20px;
    text-align: center;
}


/* Now Showing and Up Coming movie */
.table {
    margin-top: 10px;
    width: 100%;
    display: table;
}

.table_header {
    display: table-header-group;
}

.header_cell {  
    display: table-cell;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px; 
    background-color: black;
    color: white;
}

.table_body {
    display: table-row-group;
} 

.table_row {
    display: table-row;
    width: 100%;
}

.table_cell {
    display: table-cell;
    padding-left: 30px; 
    padding-top: 25px;
    padding-bottom: 20px;
}

.table_cell h3 {
    font-style:oblique;
    text-transform: uppercase;
    color: rgb(106, 111, 116);
    font-size: 18px;
    padding: 10px 0px; 
}

.movie_information {
    display: flex;
    flex-shrink: 0;
    align-items:center; 
}

.movie_information img {
    width: 92px;
    height: 61px;
    flex-shrink: 0;
    align-self: center;
    cursor: pointer;
}

.info_type {
    font-weight: bold;
}

.movie_information p {
    margin-left: 5px;
}


