.cinema-location {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 650;
}

.content {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.buy-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
}

.seat-booking-form {
    margin-left: -21px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.seat-booking-form label {
    display: block;
    text-align: left;
}

#bookedSeat:focus{
    box-shadow: 1px 1px 8px rgb(12, 12, 12);
}

hr {
    margin: 0 auto;
    background-image:  linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    width: 80%;
    margin-bottom: 30px;
}

.information {
    width: 300px;
    display: flex;
    align-items: center;
}

.information p {
    margin-left: 10px;
}

.information span {
    font-weight: bold;
}

/* seat plan style */
.seating {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.seat-plan {
    background-color: black;
    width: 300px;
    padding: 20px;
}

table{
    border: 1px solid;
    border-spacing: 4px;
}

.row-letter-left {
    color: white;
    padding: 5px;
    padding-right: 15px;
    border: 0
}

.row-letter-right {
    color: white;
    padding: 5px;
    padding-left: 15px;
    border: 0
}

.seat-number {
    text-align: center;
    border: 2px solid green;
    color: white;
    width: 30px;
    height: 30px;
}

.seat-number:hover {
    cursor: pointer;
    background-color: blue;
}

.screen {
    background-color: red;
    padding: 5px;
    border-spacing: 30px;
    text-align: center;
}



